<h2 class="text-center font-bold">Calendario</h2>


<div class="grid md:grid-cols-2">

    
    <iframe src="https://calendar.google.com/calendar/embed?height=300&wkst=2&ctz=America%2FBogota&bgcolor=%230B8043&showTitle=0&showDate=0&hl=es_419&showPrint=0&showTz=0&src=ZWRleXNvbjIwQGdtYWlsLmNvbQ&src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%230B8043" style="border-width:0" width="600" height="300" frameborder="0" scrolling="no"></iframe>
    <!-- Calendly inline widget begin -->
    
    <!-- Calendly badge widget begin -->
    <a href="" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded h-12 w-28" onclick="Calendly.initPopupWidget({url: 'https:'+'/'+'/calendly.com/edeyson20/radicados'});return false;">Agendar</a>
<!-- Calendly badge widget end -->
    <!-- Calendly inline widget end -->
</div>