/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0 0 0 / 73%); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }





  /* codigo para mensaje de ayuda*/
  .help{
    color: #000;
    font-style: italic;
    display: none;
    position: absolute;
    font-size: 14px;
    bottom: 32px;
    padding: 3px 7px;
    background-color: #fff;
    border: 1px solid #90c259;
    text-wrap: wrap;
    border-radius: 8px;
    font-weight: 500;
  }
  .has-help.absolute{
    position: absolute !important;
  }
  .has-help{
    position: relative;
  }
  .has-help:hover  .help{
    display: block;
  }

.proceso{
  display: none;
}
.proceso.activo{
  display: block !important; 
}