/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

input:required ~ label::after, textarea:required ~ label::after{
    content: '*';
    color: red;
    left: 2px;
    position: relative;
  }

button:disabled{
    background-color: #8f8f8f !important;
}